<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title>MadLibs</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="http://jquery.bassistance.de/validate/demo/site-demos.css">
    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body ng-controller="WordController">
    <div class="container">
        <div class="row">
            <header>
                <div class="col-sm-4 text-center">
                    <img src="assets/images/mad-lib-happy-face.png" alt="MadLibs happy face" />
                </div>

                <div class="col-sm-8 text-center">
                    <img src="assets/images/ng-mad-libs-logo.png" alt="MadLibs logo" />
                    <h1>Automate This!</h1>
                </div>
            </header>
        </div>

        <!-- word input-->
        <div class="row">

            <div class="panel">
                <div class="panel-body">
                    <h2>Provide the following words:</h2>
                    
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="input-group gender pull-left">
                                <span class="input-group-addon">
                                    <input type="radio" ng-model="gender.isFemale" ng-value="false">  Male
                                </span>
                                <span class="input-group-addon">
                                    <input type="radio" ng-model="gender.isFemale" ng-value="true"> Female
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="libInput">
                                <input type="text" ng-model="data.personName" />
                            </div>
                            <div class="libInput">
                                <input type="text" ng-model="data.jobTitle" />
                            </div>
                            <div class="libInput">
                                <input type="text" ng-model="data.tediousTask" />
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="libInput">
                                <input type="text" ng-model="data.dirtyTask" />
                            </div>
                            <div class="libInput">
                                <input type="text" ng-model="data.celebrity" />
                            </div>
                            <div class="libInput">
                                <input type="text" ng-model="data.uselessSkill" />
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="libInput">
                                <input type="text" ng-model="data.obnoxiousCelebrity" />
                            </div>
                            <div class="libInput">
                                <input type="text" ng-model="data.hugeNumber" />
                            </div>
                            <div class="libInput">
                                <input type="text" ng-model="data.adjective" />
                            </div>
                        </div>
                    </div>

                </div>
            </div> <!-- /panel -->
        </div><!-- /word input-->
        
    <!-- MadLibs story -->
        <div class="row">
            <form>
                <div class="panel">
                    <div class="panel-body">
                        <p>
                            <span class="highlight">{{data.personName}}</span> was a <span class="highlight">{{data.jobTitle}}</span> who loved technology.
                            Although {{ gender.heShe() }} loved parts of {{ gender.hisHer() }} job, {{ gender.heShe() }} absolutely 
                            hated <span class="highlight">{{data.tediousTask}}</span> and
                            <span class="highlight">{{data.dirtyTask}}</span>. So, <span class="highlight">{{data.personName}} </span> met with {{ gender.hisHer() }} life
                            mentor <span class="highlight">{{data.celebrity}}</span> who told {{ gender.himHer() }} to learn how to <span class="highlight">{{data.uselessSkill}}</span> with Thinkful.
                            Thinkful didn't offer a course on <span class="highlight">{{data.uselessSkill}}</span> so {{ gender.heShe() }} studied programming instead.
                        </p>

                        <p>
                            What a great decision! With {{ gender.hisHer() }} new skills, <span class="highlight">{{data.personName}}</span> built
                            a(n) <span class="highlight">{{data.adjective}}</span> robot named <span class="highlight">{{data.obnoxiousCelebrity}}</span> that not only
                            loved <span class="highlight">{{data.dirtyTask}}</span> but did it <span class="highlight">{{data.hugeNumber}}</span> faster.
                        </p>
                    </div><!-- /panel body -->
                </div><!-- /panel -->
            </form>
        </div> <!-- /MadLibs story -->

    </div> <!-- /container -->
    <!-- JavaScript -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="http://jquery.bassistance.de/validate/jquery.validate.js"></script>
    <script src="http://jquery.bassistance.de/validate/additional-methods.js"></script>
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/WordController.js"></script>
</body>
</html>